/* #car1{
  z-index: 1;
  width: 100px;
  height: auto;
  offset-path: path('M 170 440 C 228 211 227 187 -87 182');
  animation: car1 linear 3s forwards;
} */

@keyframes car-1-2 {
  0% { offset-distance: 0;}
  /* 70% { offset-distance: 46%;}
  80% {offset-distance: 90%;} */
  100% {offset-distance: 100%;}
}
.container{
  background-image: url("https://images.unsplash.com/photo-1631719420609-1077967002bf?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXNwaGFsdHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

}
.car{
  z-index: 1;
  width:22%;
  height:22%;
  background-image: url("images/car-clock.png");
  background-position: center;
  background-size: cover;
}
.one{
  position: absolute;
  left:55%;
  top:15.5%;
}
.thousands #two{
  position: absolute;
  left:55%;
  top:50%;
  offset-path: shape(
    from 65% 60%,
    curve to 65% 50% with 65% 55%,
    curve to 90% 0% with 95% 20%,
  );
  transform: rotate(90deg);
}
.three{
  /* straight */
  position: absolute;
  left:39%;
  bottom:12%;
  transform:rotate(270deg);
}
.four{
  /* same as 2 but from otherside */
  top:50%;
  left:22.5%;
  border: 2px solid red;
  position: absolute;
}
.five{
  /* straight */
  position: absolute;
  left:39%;
  bottom:46%;
  transform:rotate(270deg);
}
#six{
  /* same as 1 but from otherside */
  position: absolute;
  top:15.5%;
  left:22.5%;
  /* border: 2px solid red; */
  clip-path:shape(
    from 22.5% 15.5%,
    curve by -5% -15.5% with 65% -15%,
    curve by 0% 0% with 15% 20%,
  );
  background: red;
  /* animation: car-1-2 linear 3s forwards; */
}
.seven{
  /* straight */
  position: absolute;
  transform:rotate(270deg);
  left:39%;
  top:1%;
}

.thousands{
  width: 300px;
  height:350px;
  position: relative;
  border: 2px solid red;
}